language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.1
  - 7.2
  - nightly

matrix:
  allow_failures:
    - php: nightly

services: mongodb

before_install:
  - pecl install mongodb

before_script:
  - composer self-update
  - composer install --prefer-source
  - composer require --ignore-platform-reqs alcaeus/mongo-php-adapter
  - composer require doctrine/mongodb-odm

script:
  - ./vendor/bin/phpunit -v
