parameters:
    phpVersion: 80200
    level: 3
    paths:
        - src
        - tests

    ignoreErrors:
        # ORM 3 forward compatibility
        - '~^Parameter \$assoc of method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getJoinTableName\(\) has invalid type Doctrine\\ORM\\Mapping\\ManyToManyOwningSideMapping\.$~'

includes:
    - phpstan-baseline.neon
