parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between array\<string\> and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Event/Listener/MongoDBReferenceListener.php

		-
			message: '#^Strict comparison using \=\=\= between array\<string\> and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Event/Listener/ORMReferenceListener.php

		-
			message: '#^Call to an undefined method Doctrine\\Common\\DataFixtures\\FixtureInterface\:\:getDependencies\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Loader.php

		-
			message: '#^Call to function is_array\(\) with array\<class\-string\<Doctrine\\Common\\DataFixtures\\FixtureInterface\>\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Loader.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Loader\:\:createFixture\(\) should return Doctrine\\Common\\DataFixtures\\FixtureInterface but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Loader.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Loader\:\:getUnsequencedClasses\(\) should return array\<class\-string\<Doctrine\\Common\\DataFixtures\\FixtureInterface\>\> but returns list\<class\-string\<Doctrine\\Common\\DataFixtures\\DependentFixtureInterface\>\|class\-string\<Doctrine\\Common\\DataFixtures\\FixtureInterface\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Loader.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Loader\:\:loadFromDirectory\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Loader.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Loader\:\:loadFromFile\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Loader.php

		-
			message: '#^Parameter \#1 \$sequences of method Doctrine\\Common\\DataFixtures\\Loader\:\:getUnsequencedClasses\(\) expects array\<class\-string\<Doctrine\\Common\\DataFixtures\\DependentFixtureInterface\>, int\>, array\<class\-string\<Doctrine\\Common\\DataFixtures\\DependentFixtureInterface\>\|class\-string\<Doctrine\\Common\\DataFixtures\\FixtureInterface\>, int\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Loader.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:getReference\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ProxyReferenceRepository.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getAssociationTables\(\) has parameter \$classes with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getCommitOrder\(\) has parameter \$classes with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getCommitOrder\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getJoinTableName\(\) has parameter \$class with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getTableName\(\) has parameter \$class with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Parameter \#1 \$assoc of method Doctrine\\Common\\DataFixtures\\Purger\\ORMPurger\:\:getJoinTableName\(\) expects array\<mixed\>\|Doctrine\\ORM\\Mapping\\ManyToManyOwningSideMapping, Doctrine\\ORM\\Mapping\\ManyToManyInverseSideMapping\|Doctrine\\ORM\\Mapping\\ManyToManyOwningSideMapping\|Doctrine\\ORM\\Mapping\\ManyToOneAssociationMapping\|Doctrine\\ORM\\Mapping\\OneToManyAssociationMapping\|Doctrine\\ORM\\Mapping\\OneToOneInverseSideMapping\|Doctrine\\ORM\\Mapping\\OneToOneOwningSideMapping given\.$#'
			identifier: argument.type
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Parameter \#1 \$association of method Doctrine\\ORM\\Mapping\\QuoteStrategy\:\:getJoinTableName\(\) expects Doctrine\\ORM\\Mapping\\ManyToManyOwningSideMapping, array\<mixed\>\|Doctrine\\ORM\\Mapping\\ManyToManyOwningSideMapping given\.$#'
			identifier: argument.type
			count: 1
			path: src/Purger/ORMPurger.php

		-
			message: '#^Access to an undefined property Doctrine\\Persistence\\Mapping\\ClassMetadata\<T of object\>\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/ReferenceRepository.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:getReference\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ReferenceRepository.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:getUnitOfWork\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/ReferenceRepository.php

		-
			message: '#^Call to an undefined method object\:\:getDocumentId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ReferenceRepository.php

		-
			message: '#^Call to an undefined method object\:\:getDocumentIdentifier\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ReferenceRepository.php

		-
			message: '#^Parameter \#1 \$className of method Doctrine\\Persistence\\ObjectManager\:\:getClassMetadata\(\) expects class\-string\<object\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/ReferenceRepository.php

		-
			message: '#^Unable to resolve the template type T in call to method Doctrine\\Persistence\\ObjectManager\:\:getClassMetadata\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/ReferenceRepository.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Sorter\\TopologicalSorter\:\:addNode\(\) has parameter \$node with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Sorter/TopologicalSorter.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Sorter\\TopologicalSorter\:\:sort\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Sorter/TopologicalSorter.php

		-
			message: '#^Property Doctrine\\Common\\DataFixtures\\Sorter\\TopologicalSorter\:\:\$sortedNodeList with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Sorter/TopologicalSorter.php

		-
			message: '#^Method Doctrine\\Common\\DataFixtures\\Sorter\\Vertex\:\:__construct\(\) has parameter \$value with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Sorter/Vertex.php

		-
			message: '#^Property Doctrine\\Common\\DataFixtures\\Sorter\\Vertex\:\:\$value with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Sorter/Vertex.php

		-
			message: '#^Call to function method_exists\(\) with ''Doctrine\\\\ORM\\\\ORMSetup'' and ''createAttributeMeta…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Common/DataFixtures/BaseTestCase.php

		-
			message: '#^Method Doctrine\\Tests\\Common\\DataFixtures\\FixtureWithUnexistentDependency\:\:getDependencies\(\) should return array\<class\-string\<Doctrine\\Common\\DataFixtures\\FixtureInterface\>\> but returns array\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: tests/Common/DataFixtures/DependentFixtureTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Doctrine\\\\ORM\\\\ORMSetup'' and ''createAttributeMeta…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: tests/Common/DataFixtures/ProxyReferenceRepositoryTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Doctrine\\\\ORM\\\\ORMSetup'' and ''createAttributeMeta…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: tests/Common/DataFixtures/ReferenceRepositoryTest.php

		-
			message: '#^Parameter \#1 \$name of class Doctrine\\ORM\\Mapping\\ClassMetadata constructor expects class\-string\<1\>, string given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Common/DataFixtures/Sorter/TopologicalSorterTest.php

		-
			message: '#^Parameter \#1 \$name of class Doctrine\\ORM\\Mapping\\ClassMetadata constructor expects class\-string\<2\>, string given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Common/DataFixtures/Sorter/TopologicalSorterTest.php

		-
			message: '#^Parameter \#1 \$name of class Doctrine\\ORM\\Mapping\\ClassMetadata constructor expects class\-string\<3\>, string given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Common/DataFixtures/Sorter/TopologicalSorterTest.php

		-
			message: '#^Parameter \#1 \$name of class Doctrine\\ORM\\Mapping\\ClassMetadata constructor expects class\-string\<4\>, string given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Common/DataFixtures/Sorter/TopologicalSorterTest.php

		-
			message: '#^Parameter \#1 \$name of class Doctrine\\ORM\\Mapping\\ClassMetadata constructor expects class\-string\<5\>, string given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Common/DataFixtures/Sorter/TopologicalSorterTest.php

		-
			message: '#^Parameter \#1 \$name of class Doctrine\\ORM\\Mapping\\ClassMetadata constructor expects class\-string\<\\Sample\\Entity\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Common/DataFixtures/Sorter/VertexTest.php

		-
			message: '#^Property Doctrine\\Tests\\Common\\DataFixtures\\TestDocument\\Role\:\:\$id \(string\|null\) is never assigned string so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Common/DataFixtures/TestDocument/Role.php

		-
			message: '#^Method Doctrine\\Tests\\Common\\DataFixtures\\TestEntity\\Quoted\:\:getSelects\(\) return type with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: tests/Common/DataFixtures/TestEntity/Quoted.php

		-
			message: '#^Method Doctrine\\Tests\\Common\\DataFixtures\\TestEntity\\Quoted\:\:setSelects\(\) has parameter \$selects with generic interface Doctrine\\Common\\Collections\\Collection but does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: tests/Common/DataFixtures/TestEntity/Quoted.php

		-
			message: '#^Property Doctrine\\Tests\\Common\\DataFixtures\\TestEntity\\Quoted\:\:\$selects with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: tests/Common/DataFixtures/TestEntity/Quoted.php

		-
			message: '#^Property Doctrine\\Tests\\Common\\DataFixtures\\TestEntity\\Role\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Common/DataFixtures/TestEntity/Role.php

		-
			message: '#^Method Doctrine\\Tests\\Common\\DataFixtures\\TestValueObjects\\Uuid\:\:__unserialize\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Common/DataFixtures/TestValueObjects/Uuid.php
