parameters:
    phpVersion: 80200
    level: 7
    paths:
        - src
        - tests
    excludePaths:
        - tests/Mock/ForwardCompatibleEntityManager.php
        - tests/Mock/PHPCRDocumentManager.php

includes:
    - phpstan-baseline.neon
